
        *{
            margin:0;
            padding:0;
            font-family:'Poppins',sans-serif;
            box-sizing: border-box;
        }
        body{
            background:#222;
            min-height: 100vh;
            width: 100%;
            margin-bottom: 30px;
        }
        .card{
            width:90%;
            max-width:470px;
            background:linear-gradient(135deg, #00feba,#5b548a);
            color: #fff;
            margin:100px auto 0;
            border-radius:20px;
            padding:40px 35px;
            text-align: center;

        }
        .search{
            width:100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .search input{
            border:0;
            outline: 0;
            background:#ebfffc;
            color: #555;
            padding:10px 25px;
            height:60px;
            border-radius: 30px;
            flex:1;
            margin-right: 16px;
            font-size: 18px;
             }
        .search button{
            border: 0;
            outline: 0;
            background: #ebfffc;
            border-radius: 50%;
            width:60px;
            height:60px;
            cursor: pointer;
        }
        .search button img{
            width:16px;
        }
        .weather-icon{
            width:170px;
            margin-top: 30px;
        }
        .weather h1{
           font-size: 80px;
           font-weight: 500;
        }
        .weather h2{
             font-size: 45px;
            font-weight:400;
            margin-top: -10px;

        }
        .details{
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            margin-top: 50px;
            
        }
        .col{
            display: flex;
            align-items: center;
            text-align: left;
             }
        .col img{
            width: 40px;
            margin-right: 10px;

        }
        .humidity, .wind{
            font-size: 20px;
            margin-top:-6px;
        }
        .error{
            text-align: left;
            margin-left: 10px;
            font-size: 14px;
            margin-top: 10px;
            display: none;
        }
        .box{
            margin-top: 50px;
            margin-left: 650px;
            font-weight: lighter;
        }

        .box{
            background: #142d4a;
            height: 200px;
            aspect-ratio: 1/1;
            border-radius: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
             }
        @property --deg{
            syntax: '<angle>';
            inherits: true;
            initial-value: 0deg;    
        }
        .box::before,.box::after{
            content: " ";
            position: absolute;
            height: 100%;
            width: 100%;
            background: conic-gradient(from var(--deg )at center,#00c3ff,#4d0199,#6300c6,#009dcd);
            border-radius: inherit;
            z-index: -2;
            padding: 2px;
            animation: autoRotate 2s linear infinite;
        }
         .box::after{
            filter: blur(10px);
        }
        @keyframes autoRotate{
            to{
                --deg:360deg;
            }
        } 
        .box p{
            font-size: large;
            color: #e5ddec;
            font-weight: 800;
        } 